.data-grid {

    .table-responsive {
        border: 1px solid var(--bs-border-color);
    }

    table {
        border-spacing: 0;
        min-width: 100%;
        table-layout: fixed;
        // border: 0px transparent;
    }

    td, th {
        width: 10em;
        // max-width: max-content;
        + td, + th {
            border-left: 1px solid var(--bs-border-color);
        }
    }
    

    td.date {
        font-family: monospace;
        font-size: 86%;
        color: var(--bs-secondary);
    }

    td.string {
        color: var(--bs-body-color);
    }

    td.number {
        color: var(--bs-danger-text-emphasis);
    }
}